@font-face {
    font-family: 'Inter Tight Regular';
    src: url("/assets/InterTight-Regular.ttf");
}

@font-face {
    font-family: 'Barrio';
    src: url("/assets/Barrio-Regular.ttf");
}

@font-face {
    font-family: 'Inter Tight Semi';
    src: url("/assets/InterTight-SemiBold.ttf");
}

body {
    background-color: #0D0024;
    color: rgb(179, 214, 255);
    font-family: 'Inter Tight Regular', monospace;
    font-size: 120%;
    text-align: center;
    align-items: center;
    margin: 0%;
    padding: 1%;
}

h1 {
    color: rgb(187, 255, 160);
    font-size: 250%;
    font-weight: bold;
    font-family: 'Barrio', monospace;
}

h2 {
    color: rgb(255, 255, 100);
    font-family: 'Inter Tight Semi', monospace;
}

h2 {
    color: rgb(255, 255, 100);
}

p {
    font-size: 150%;
}

ul {
    list-style-position: inside;
}

a:link {
    color: rgb(126, 255, 100);
    text-decoration: none;
}
  
a:visited {
    color: rgb(126, 255, 100);
    text-decoration: none;
} 

