@font-face {
    font-family: 'Inter Tight Regular';
    src: url("/assets/InterTight-Regular.ttf");
}

@font-face {
    font-family: 'Inter Tight Bold';
    src: url("/assets/InterTight-SemiBold.ttf");
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url("/assets/PixelifySans-Regular.ttf");
}

@font-face {
    font-family: 'GeoMath';
    src: url("/assets/GeoMath.woff2");
}
body {
    background-color: #000000;
    color: rgb(179, 214, 255);
    font-family: 'Inter Tight Regular', monospace;
    font-size: 120%;
    text-align: center;
    align-items: center;
    margin: 0%;
    padding: 5%;
}

h1 {
    color: rgb(255, 160, 250);
    font-size: 250%;
    font-weight: bold;
    font-family: 'Inter Tight Bold', monospace;
}

h2 {
    color: rgb(255, 255, 100);
    font-family: 'Pixelify Sans', monospace;
}

.title {
    color: rgb(255, 160, 250);
    font-size: 250%;
    font-family: 'Pixelify Sans', monospace;
}

h2 {
    color: rgb(255, 255, 100);
}

p {
    font-size: 150%;
}

ul {
    list-style-position: inside;
}

a:link {
    color: rgb(126, 255, 100);
    text-decoration: none;
}
  
a:visited {
    color: rgb(126, 255, 100);
    text-decoration: none;
} 